/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}
/* /Mix */

/* Typo */
h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

/* /Typo */

/* Buttons */
.secondary_nav .btn_empty {
  border: 1px solid #006aff;
  color: #006aff;
}

/* /Buttons */

/* Intestazione */
/* header_top */
.header_top {
  background-color: white;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_top * {
  vertical-align: middle;
}

.header_top li {
  margin: 0 4px;
}

.header_top a {
  color: rgb(3, 27, 79);
  font-size: 14px;
  font-weight: 500;
}

.header_top a:hover {
  text-decoration: none;
  color: #006aff;
}

.header_top .logo_img {
  height: 30px;
}

.main_nav, .secondary_nav {
  width: 50%;
}

.main_nav li i {
  font-size: 16px;
}

/* Hamburgher Menu */
.menu {
  padding-right: 25px;
  display: none;
  color: black;
}

.menu i {
  font-size: 18px;
}
/* /header_top */

/* Hero */
.hero {
  margin-top: 70px;
  height: 800px;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
}

.hero .main_title {
  color: white;
  height: 800px;
  position: relative;
}

.hero .main_title .text_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero .main_title p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
/* /Hero */
/* /Intestazione */



/* Responsive */
@media screen and (max-width: 992px) {

  .main_nav, .secondary_nav ul {
    display: none;
  }

  .secondary_nav {
    float: right !important;
  }

  .menu {
    display: block;
  }
}
