/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.border_rad {
  border-radius: 7px;
}

.border_rad_4 {
  border-radius: 4px;
}

.color_primary {
  color:  #006aff;
}

.bg_grey {
  background-color: #f3f5f9;
}

.padd_td_80 {
  padding: 80px 0;
}
/* /Mix */

/* Typo */
h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

h2, h3, h4 {
  color: #031b4e;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  margin-top: 25px;
}

h5 {
  font-size: 20px;
  color: #5b6987;
  font-weight: 400;
}

p {
  color: rgba(3, 27, 78, 0.6);
  font-size: 15px;
  font-weight: 500;
}

/* /Typo */

/* Buttons */
.secondary_nav .btn_empty {
  border: 1px solid #006aff;
  color:  #006aff;
}

/* /Buttons */

/* Intestazione */
/* header_top */
.header_top {
  background-color: white;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_top * {
  vertical-align: middle;
}

.header_top li {
  margin: 0 4px;
}

.header_top a {
  color: rgb(3, 27, 79);
  font-size: 14px;
  font-weight: 500;
}

.header_top a:hover {
  color: #006aff;
}

.header_top .logo_img {
  height: 30px;
}

.main_nav, .secondary_nav {
  width: 50%;
}

.main_nav li i {
  font-size: 16px;
}

/* Hamburgher Menu */
.menu {
  padding-right: 25px;
  display: none;
  color: black;
}

.menu i {
  font-size: 18px;
}
/* /header_top */

/* Hero */
.hero {
  margin-top: 70px;
  padding: 100px 0;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
}

.hero .main_title {
  color: white;

}

.hero .main_title p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.form_container {
  background-color: white;
  padding: 25px 15px;
}

.account_form input {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 10px;
}

.account_form a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.account_form p {
  font-size: 12px;
  font-weight: bold;
}

.account_form p a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}

.form_container a:hover {
  text-decoration: none;
}

.form_container > p a {
  font-size: 30px;
  font-weight: bold;
}

#btn_account {
  background-color: #579AFF;
  color: white;
}

#btn_google {
  background-color: white;
  color: #2F4F4F;
  box-shadow: 2px 2px 3px lightgrey;
  position: relative;
}

#btn_google img {
  max-height: 25px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* /Hero */
/* /Intestazione */

/* corpo del progetto */
/* sezione solutions */
.solutions {
  padding: 65px 0;
}

.solutions h4 {
  color: rgb(91, 105, 135);
  font-size: 14px;
  text-transform: uppercase;
}

.solutions img {
  width: calc((100% / 6) - 4px);
  padding: 0 10px;
  vertical-align: middle;
}

.angle_right {
  margin-left: 5px;
}
/* /sezione solutions */

/* sezione deploy */
.deploy h5 {
  padding: 10px 68px;
  margin-bottom: 70px;
}

.list_container {
  border-left: 2px solid lightgrey;
  margin-top: 40px;
}

.list_container ul {
  list-style: none;
}

.list_container ul li {
  padding: 10px;
}

.list_container ul li a {
  color: rgba(3, 27, 78, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.list_container ul li a:hover {
  color: black;
}

.deploy_img {
  margin-top: 40px;
}
/* /sezione deploy */

/* /corpo del progetto */



/* Responsive */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 38px;
  }

  .hero .main_title p {
    font-size: 23px;
  }
  .main_nav, .secondary_nav ul {
    display: none;
  }

  .secondary_nav {
    float: right !important;
  }

  .menu {
    display: block;
  }

  .form_container {
    margin-top: 30px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 60px;
  }
}

@media screen and (max-width: 768px) {

  .solutions img {
    width: calc(50% - 4px);
    padding: 0 20px;
  }

  .solutions h4 {
    font-size: 19px;
  }

  .cust_stories {
    font-size: 18px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 30px;
    font-size: 22px;
  }

  .list_container ul li a {
    font-size: 21px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }


}
