/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.custom_link {
  font-size: 15px;
  font-weight: 500;
}

.custom_link:hover {
  color: #1633ff;
}

.border_rad {
  border-radius: 7px;
}

.border_rad_4 {
  border-radius: 4px;
}

.color_primary {
  color:  #006aff;
}

.bg_grey {
  background-color: #f3f5f9;
}

.padd_td_80 {
  padding: 80px 0;
}
/* /Mix */

/* Typo */
h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

h2, h3, h4 {
  color: #031b4e;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  margin-top: 25px;
}

h5, .teams_love .carosel_inner p {
  font-size: 20px;
  color: #5b6987;
  font-weight: 400;
}

p {
  color: rgba(3, 27, 78, 0.6);
  font-size: 15px;
  font-weight: 500;
}

/* /Typo */

/* Buttons */
.secondary_nav .btn_empty {
  border: 1px solid #006aff;
  color:  #006aff;
}

/* /Buttons */

/* Intestazione */
/* header_top */
.header_top {
  background-color: white;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_top * {
  vertical-align: middle;
}

.header_top li {
  margin: 0 4px;
}

.header_top a {
  color: rgb(3, 27, 79);
  font-size: 14px;
  font-weight: 500;
}

.header_top a:hover {
  color: #006aff;
}

.header_top .logo_img {
  height: 30px;
}

.main_nav, .secondary_nav {
  width: 50%;
}

.main_nav li i {
  font-size: 16px;
}

/* Hamburgher Menu */
.menu {
  padding-right: 25px;
  display: none;
  color: black;
}

.menu i {
  font-size: 18px;
}
/* /header_top */

/* Hero */
.hero {
  margin-top: 70px;
  padding: 100px 0;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
}

.hero .main_title {
  color: white;

}

.hero .main_title p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.form_container {
  background-color: white;
  padding: 25px 15px;
}

.account_form input {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 10px;
}

.account_form a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.account_form p {
  font-size: 12px;
  font-weight: bold;
}

.account_form p a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}

.form_container a:hover {
  text-decoration: none;
}

.form_container > p a {
  font-size: 30px;
  font-weight: bold;
}

#btn_account {
  background-color: #579AFF;
  color: white;
}

#btn_google {
  background-color: white;
  color: #2F4F4F;
  box-shadow: 2px 2px 3px lightgrey;
  position: relative;
}

#btn_google img {
  max-height: 25px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* /Hero */
/* /Intestazione */

/* corpo del progetto */
/* sezione solutions */
.solutions {
  padding: 65px 0;
}

.solutions h4 {
  color: rgb(91, 105, 135);
  font-size: 14px;
  text-transform: uppercase;
}

.solutions img {
  width: calc((100% / 6) - 4px);
  padding: 0 10px;
  vertical-align: middle;
}

.angle_right {
  margin-left: 5px;
}
/* /sezione solutions */

/* sezione deploy */
.deploy h5 {
  padding: 10px 68px;
  margin-bottom: 70px;
}

.list_container {
  border-left: 2px solid lightgrey;
  margin-top: 40px;
}

.list_container ul {
  list-style: none;
}

.list_container ul li {
  padding: 10px;
}

.list_container ul li a {
  color: rgba(3, 27, 78, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.list_container ul li a:hover {
  color: black;
}

.deploy_img {
  margin-top: 40px;
}
/* /sezione deploy */

/* sezione designed */
.designed h5 {
  margin-top: 30px;
  margin-bottom: 70px;
}

.carosel_inner {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  max-width: 650px;
}

.carosel_inner img {
  width: 100%;
}

.carosel_inner p {
  color: #031b4e;
  padding-top: 25px;
}

.carosel_angle {
  vertical-align: middle;
  font-size: 42px;
  color: #031b4e;
}

.carosel_angle:first-child {
  color: #5b6987;
}


.bullets i {
  font-size: 10px;
  color:  #006aff;
}

.bullets i:first-child {
  color:  #006aff;
}
/* /sezione designed */

/* sezione features */
.features h2 {
  margin-bottom: 40px;
}

.features p {
  padding-right: 25px;
}
/* /sezione features */

/* sezione service-customers */
.service_customers {
  background: rgb(0,30,153);
  background: linear-gradient(0deg, rgba(0,30,153,1) 30%, rgba(0,72,197,1) 71%);
  color: white;
}

.service_customers h2 {
  color: white;
}

/* tabella */
.places_container {
  padding: 10px 0;
}

.places_container:not(:last-of-type) {
  border-bottom: 1px solid white;
}

.places_code,
.places_name,
.test_speed {
  display: inline-block;
  font-size: 13px;
}

.places_code {
  width: calc(20% - 4px);
  text-transform: uppercase;
  padding-left: 15px;
}

.places_name {
  width: calc(50% - 4px);
  opacity: 0.6;
}

.test_speed {
  width: calc(30% - 4px);
  padding-right: 15px;
}

.test_speed a {
  font-size: 13px;
  color: #00d7d2;
}

.test_speed a:hover {
  color: #1633ff;
}
/* /sezione service-customers */

/* sezione teams-love */
.teams_love .carosel_inner {
  margin: 80px 30px 20px 30px;
  max-width: 540px;
  padding: 70px 10px;
  background-color: white;
}

.rockerbox {
  max-width: 200px;
}

.teams_love .carosel_inner .member_name,
.teams_love .carosel_inner .member_role {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #031b4e;
}

.teams_love .carosel_inner .member_name {
  font-weight: bold;
}

.teams_love .carosel_inner .member_role {
  margin-bottom: 30px;
}

/* /sezione teams-love */
/* /corpo del progetto */



/* Responsive */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 38px;
  }

  .hero .main_title p {
    font-size: 23px;
  }
  .main_nav, .secondary_nav ul {
    display: none;
  }

  .secondary_nav {
    float: right !important;
  }

  .menu {
    display: block;
  }

  .form_container {
    margin-top: 30px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 60px;
  }

  /* features */
  .features p {
    padding-right: 0;
  }

  /* service-customers */
  .service_customers h2 {
    font-size: 38px;
  }

  .places_code,
  .places_name,
  .test_speed a {
    font-size: 16px;
  }

  .places_container:last-of-type {
    margin-bottom: 30px;
  }

  /* teams-love */
  .rockerbox {
    max-width: 430px;
  }

}


@media screen and (max-width: 768px) {

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 45px;
  }

  .custom_link {
    font-size: 19px;
  }

  .solutions img {
    width: calc(50% - 4px);
    padding: 0 20px;
  }

  .solutions h4 {
    font-size: 19px;
  }

  .cust_stories {
    font-size: 18px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 30px;
    font-size: 22px;
  }

  .list_container ul li a {
    font-size: 21px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }

  /* designed */
  .carosel_angle {
    display: none;
  }

  /* features */
  .features a {
    display: inline-block;
    margin-bottom: 40px;
  }

  .features .last_link {
    margin-bottom: 0;
  }


  /* teams-love */
    .rockerbox {
    max-width: 100%;
  }


}
