/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.border_rad {
  border-radius: 7px;
}

.border_rad_4 {
  border-radius: 4px;
}

.color_primary {
  color:  #006aff;
}
/* /Mix */

/* Typo */
h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

h2, h3 {
  color: #031b4e;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}
/* /Typo */

/* Buttons */
.secondary_nav .btn_empty {
  border: 1px solid #006aff;
  color:  #006aff;
}

/* /Buttons */

/* Intestazione */
/* header_top */
.header_top {
  background-color: white;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_top * {
  vertical-align: middle;
}

.header_top li {
  margin: 0 4px;
}

.header_top a {
  color: rgb(3, 27, 79);
  font-size: 14px;
  font-weight: 500;
}

.header_top a:hover {
  text-decoration: none;
  color: #006aff;
}

.header_top .logo_img {
  height: 30px;
}

.main_nav, .secondary_nav {
  width: 50%;
}

.main_nav li i {
  font-size: 16px;
}

/* Hamburgher Menu */
.menu {
  padding-right: 25px;
  display: none;
  color: black;
}

.menu i {
  font-size: 18px;
}
/* /header_top */

/* Hero */
.hero {
  margin-top: 70px;
  padding: 100px 0;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
}

.hero .main_title {
  color: white;

}

.hero .main_title p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.form_container {
  background-color: white;
  padding: 25px 15px;
}

.account_form input {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 10px;
}

.account_form a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.account_form p {
  font-size: 12px;
  font-weight: bold;
}

.account_form p a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}

.form_container a:hover {
  text-decoration: none;
}

.form_container > p a {
  font-size: 30px;
  font-weight: bold;
}

#btn_account {
  background-color: #579AFF;
  color: white;
}

#btn_google {
  background-color: white;
  color: #2F4F4F;
  box-shadow: 2px 2px 3px lightgrey;
  position: relative;
}

#btn_google img {
  max-height: 25px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* /Hero */
/* /Intestazione */



/* Responsive */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 38px;
  }

  .hero .main_title p {
    font-size: 23px;
  }
  .main_nav, .secondary_nav ul {
    display: none;
  }

  .secondary_nav {
    float: right !important;
  }

  .menu {
    display: block;
  }

  .form_container {
    margin-top: 30px;
  }
}
