/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.custom_link {
  font-size: 15px;
  font-weight: 500;
}

.custom_link:hover {
  color: #1633ff;
}

.border_rad {
  border-radius: 7px;
}

.border_rad_4 {
  border-radius: 4px;
}

.color_primary {
  color:  #006aff;
}

.bg_grey {
  background-color: #f3f5f9;
}

.padd_td_80 {
  padding: 80px 0;
}
/* /Mix */

/* Typo */
h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

h2, h3, h4 {
  color: #031b4e;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  margin-top: 25px;
}

h5, .teams_love .carousel_inner p {
  font-size: 20px;
  color: #5b6987;
  font-weight: 400;
}

p {
  color: rgba(3, 27, 78, 0.6);
  font-size: 15px;
  font-weight: 500;
}

.white_soft {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
/* /Typo */

/* Buttons */
.secondary_nav .btn_empty {
  border: 1px solid #006aff;
  color:  #006aff;
}

/* /Buttons */

/* Intestazione */
/* header_top */
.header_top {
  background-color: white;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_top * {
  vertical-align: middle;
}

.header_top li {
  margin: 0 4px;
}

.header_top a {
  color: rgb(3, 27, 79);
  font-size: 14px;
  font-weight: 500;
}

.header_top a:hover {
  color: #006aff;
}

.header_top .logo_img {
  height: 30px;
}

.main_nav, .secondary_nav {
  width: 50%;
}

.main_nav li i {
  font-size: 16px;
}

/* Hamburgher Menu */
.menu {
  padding-right: 25px;
  display: none;
  color: black;
}

.menu i {
  font-size: 18px;
}
/* /header_top */

/* Hero */
.hero {
  margin-top: 70px;
  padding: 100px 0;
  background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center center;
}

.hero .main_title {
  color: white;

}

.hero .main_title p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.form_container {
  background-color: white;
  padding: 25px 15px;
}

.account_form input {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 10px;
}

.account_form a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.account_form p {
  font-size: 12px;
  font-weight: bold;
}

.account_form p a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}

.form_container a:hover {
  text-decoration: none;
}

.form_container > p a {
  font-size: 30px;
  font-weight: bold;
}

#btn_account {
  background-color: #579AFF;
  color: white;
}

#btn_google {
  background-color: white;
  color: #2F4F4F;
  box-shadow: 2px 2px 3px lightgrey;
  position: relative;
}

#btn_google img {
  max-height: 25px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* /Hero */
/* /Intestazione */

/* corpo del progetto */
/* sezione solutions */
.solutions {
  padding: 65px 0;
}

.solutions h4 {
  color: rgb(91, 105, 135);
  font-size: 14px;
  text-transform: uppercase;
}

.solutions img {
  width: calc((100% / 6) - 4px);
  padding: 0 10px;
  vertical-align: middle;
}

.angle_right {
  margin-left: 5px;
}
/* /sezione solutions */

/* sezione deploy */
.deploy h5 {
  padding: 10px 68px;
  margin-bottom: 70px;
}

.list_container {
  border-left: 2px solid lightgrey;
  margin-top: 40px;
}

.list_container ul {
  list-style: none;
}

.list_container ul li {
  padding: 10px;
}

.list_container ul li a {
  color: rgba(3, 27, 78, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.list_container ul li a:hover {
  color: black;
}

.deploy_img {
  margin-top: 40px;
}
/* /sezione deploy */

/* sezione designed */
.designed h5 {
  margin-top: 30px;
  margin-bottom: 70px;
}

.carousel_inner {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  max-width: 650px;
}

.carousel_inner img {
  width: 100%;
}

.carousel_inner p {
  color: #031b4e;
  padding-top: 25px;
}

.carousel_angle {
  vertical-align: middle;
  font-size: 42px;
  color: #031b4e;
}

.carousel_angle:first-child {
  color: #5b6987;
}


.bullets i {
  font-size: 10px;
  color:  #006aff;
}

.bullets i:first-child {
  color:  #006aff;
}
/* /sezione designed */

/* sezione features */
.features h2 {
  margin-bottom: 40px;
}

.features p {
  padding-right: 25px;
}
/* /sezione features */

/* sezione service-customers */
.service_customers {
  background: linear-gradient(0deg, rgba(0,30,153,1) 9%, rgba(0,72,197,1) 90%);
  color: white;
}

.service_customers h2 {
  color: white;
}

/* tabella */
.places_container {
  padding: 10px 0;
}

.places_container:not(:last-of-type) {
  border-bottom: 1px solid white;
}

.places_code,
.places_name,
.test_speed {
  display: inline-block;
  font-size: 13px;
}

.places_code {
  width: calc(20% - 4px);
  text-transform: uppercase;
  padding-left: 15px;
}

.places_name {
  width: calc(50% - 4px);
  opacity: 0.6;
}

.test_speed {
  width: calc(30% - 4px);
  padding-right: 15px;
}

.test_speed a {
  font-size: 13px;
  color: #00d7d2;
}

.test_speed a:hover {
  color: #1633ff;
}
/* /sezione service-customers */

/* sezione teams-love */
.teams_love .carousel_inner {
  margin: 80px 30px 20px 30px;
  max-width: 540px;
  padding: 70px 10px;
  background-color: white;
}

.rockerbox {
  max-width: 200px;
}

.teams_love .carousel_inner .member_name,
.teams_love .carousel_inner .member_role {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #031b4e;
}

.teams_love .carousel_inner .member_name {
  font-weight: bold;
}

.teams_love .carousel_inner .member_role {
  margin-bottom: 30px;
}
/* /sezione teams-love */

/* sezione start */
.start {
  background: linear-gradient(0deg, #00209B 9%, #0042BB 90%);
}

.start h2 {
  color: white;
}

.btn_acc_start {
  margin-top: 20px;
  background-color: white;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}
/* /sezione start */
/* /corpo del progetto */

/* footer */
footer {
  background-color: #031C4E;
}

footer .copyright {
  margin: 0;
}

footer .copyright.white_soft {
  margin-top: 10px;
}

footer a:hover {
  color: white;
}
.made_in {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.social {
  margin-top: 13px;
}

.social a {
  margin-right: 6px;
  font-size: 20px;
}

footer h6 {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

.list_link {
  list-style: none;
}

.list_link li {
  margin-bottom: 8px;
}

.logo_bubble_container {
  position: fixed;
  right: 50px;
  bottom: 40px;

}

.shark_logo_container {
  position: relative;
  max-width: 70px;
  background: #006AFF;
  padding: 10px 2px;
  border-radius: 5px;
}

.shark_text, .shark_logo_container {
  display: inline-block;
  vertical-align: middle;
}

.shark_text {
  position: relative;
  max-width: 325px;
  background-color: white;
  margin-right: 22px;
  padding: 15px 35px 15px 10px;
  border-radius: 5px;
}

.shark_text p {
  margin-bottom: 0;
  color: #031b4e;
}

.shark_logo_container img {
  width: 100%;
}

/* triangolo fumetto */
.shark_text::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 40px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid white;
}
/* /footer */



/* Responsive */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 40px;
  }

  .hero .main_title p {
    font-size: 23px;
  }
  .main_nav, .secondary_nav ul {
    display: none;
  }

  .secondary_nav {
    float: right !important;
  }

  .menu {
    display: block;
  }

  .form_container {
    margin-top: 30px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 60px;
  }

  /* features */
  .features p {
    padding-right: 0;
  }

  /* service-customers */
  .service_customers h2 {
    font-size: 38px;
  }

  .places_code,
  .places_name,
  .test_speed a {
    font-size: 16px;
  }

  .places_container:last-of-type {
    margin-bottom: 30px;
  }

  /* teams-love */
  .rockerbox {
    max-width: 430px;
  }

  .teams_love .carousel_inner p {
    font-size: 30px;
    margin-bottom: 14px;
  }

  .teams_love .carousel_inner .member_name,
  .teams_love .carousel_inner .member_role,
  .teams_love .carousel_inner .custom_link {
    font-size: 20px;
  }

  .bullets i {
    font-size: 16px;
  }

  /* sezione start */
  .btn_acc_start {
    font-size: 20px;
  }

  /* footer */
  footer h6 {
    margin-top: 30px;
    font-size: 20px;
  }

  .made_in, .white_soft {
    font-size: 16px;
  }

  .social a {
    font-size: 24px;
  }

}


@media screen and (max-width: 768px) {

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 45px;
  }

  .custom_link {
    font-size: 19px;
  }

  .solutions img {
    width: calc(50% - 4px);
    padding: 0 20px;
  }

  .solutions h4 {
    font-size: 19px;
  }

  .cust_stories {
    font-size: 18px;
  }

  /* deploy */
  .deploy h5 {
    padding: 10px 30px;
    font-size: 22px;
  }

  .list_container ul li a {
    font-size: 21px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }

  /* designed */
  .carousel_angle {
    display: none;
  }

  /* features */
  .features a {
    display: inline-block;
    margin-bottom: 40px;
  }

  .features .last_link {
    margin-bottom: 0;
  }


  /* teams-love */
    .rockerbox {
    max-width: 100%;
  }

  .teams_love .carousel_inner p {
    font-size: 36px;
  }

  .teams_love .carousel_inner .member_name,
  .teams_love .carousel_inner .member_role,
  .teams_love .carousel_inner .custom_link {
    font-size: 24px;
  }

  .bullets i {
    font-size: 16px;
  }

  /* sezione start */
  .btn_acc_start {
    font-size: 24px;
  }

}
